html {
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga" on;
    -moz-font-feature-settings: "liga" on;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header.site-header {
    margin: 0 1em;
    padding: 0 20px;
    width: 100%;

    @media (min-width: 576px) {
        max-width: 960px;
    }

    nav {
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        border-bottom: 1px #000 solid;

        @media (min-width: 576px) {
            padding-bottom: 0;
        }
    }

    .navbar-brand {
        margin: 0;
        letter-spacing: -1px;
    }

    a {
        color: #000;
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
            opacity: 0.6;
            text-decoration: none;
        }
    }

    .navbar-right {
        a {
            font-size: 0.8em;
        }
    }
}

main.post-feed {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;

    .post-card {
        position: relative;
        display: flex;
        flex: 1 1 100%;
        flex-direction: column;
        padding: 10px 5px;

        @media (min-width: 576px) {
            flex: 1 1 50%;
            max-width: 50%;
        }

        @media (min-width: 1024px) {
            flex: 1 1 25%;
            width: 25%;
        }

        .post-card-link-wrapper {
            display: flex;
            flex-direction: row;

            @media (min-width: 1024px) {
                flex-direction: column;
            }
        }

        .post-card-image {
            width: 33%;
            height: 110px;
            background: #fff no-repeat center center;
            object-fit: cover;
            margin-right: 10px;

            @media (min-width: 576px) {
                width: 40%;
                height: 144px;
            }

            @media (min-width: 1024px) {
                width: 100%;
                margin-bottom: 10px;
            }
        }

        h2 {
            font-family: "Source Serif Pro", serif;
            font-size: 1.5rem;
            font-weight: 600;
        }

        a:hover {
            h2 {
                text-decoration: underline;
            }
        }

        a {
            color: #000;
            text-decoration: none;
        }

        p {
            color: #404040;
            font-size: 0.85em;

            @media (min-width: 576px) {
                font-size: 0.9em;
            }

            @media (min-width: 1024px) {
                font-size: 1em;
            }
        }
    }

    .post-card-large {
        flex: 1 1 100%;
        max-width: 100%;
        padding-top: 0;

        .post-card-link-wrapper {
            display: flex;
            flex-direction: column;

            @media (min-width: 576px) {
                flex-direction: row;
            }
        }

        .post-card-image {
            width: 100%;
            height: 200px;
            margin: 0px;

            @media (min-width: 576px) {
                width: 50%;
                height: 400px;
                margin-right: 25px;
            }
        }

        .post-card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        h2 {
            font-size: 3rem;
            font-weight: 700;
        }

        p {
            font-size: 1em;

            @media (min-width: 576px) {
                font-size: 1.2em;
            }
        }
    }
}

main.post {
    max-width: 700px;
    font-family: "Source Serif Pro", serif;
    margin: 0 auto;
    padding: 15px 20px;

    header {
        margin-bottom: 20px;

        h1 {
            font-size: 3.5rem;
            font-weight: 700;
        }

        p.summary {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                Helvetica, Arial, sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol";
        }

        .byline {
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
                Helvetica, Arial, sans-serif, "Apple Color Emoji",
                "Segoe UI Emoji", "Segoe UI Symbol";
            font-size: 0.85em;
            color: #757575;

            .author {
                color: #000;
            }

            .date {
                color: #757575;
            }

            .bull {
                color: #757575;
            }
        }
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
    }

    p {
        font-size: 1.2rem;
        min-height: 28px;
        margin-bottom: 1rem;
    }

    li {
        font-size: 1.2rem;
        min-height: 28px;
        margin-bottom: 1rem;

        p {
            margin-bottom: 0;
        }

        ul {
            margin-top: 1rem;
        }
    }

    table {
        display: block;
        width: 100%; // keep for backwards compatibility
        width: max-content;
        max-width: 100%;
        overflow: auto;
        margin: 0.5em 0;

        th {
            font-weight: 600;
        }

        th,
        td {
            // stylelint-disable-next-line primer/spacing
            padding: 6px 13px;
            // stylelint-disable-next-line primer/borders
            border: 1px solid lighten(#d1d5da, 5%);
        }

        tr {
            background-color: #fff;
            // stylelint-disable-next-line primer/borders
            border-top: 1px solid darken(#d1d5da, 4%);

            &:nth-child(2n) {
                background-color: #f6f8fa;
            }
        }

        img {
            background-color: transparent;
        }
    }

    p code,
    table code {
        word-break: break-all;
        background-color: #eee;
        color: #000;
        padding: 2px 5px;
        font-size: 0.8em;
        line-height: 1em;
        font-weight: 400 !important;
        border-radius: 3px;
    }

    pre {
        overflow-x: auto;
        margin: 1.5em 0 3em;
        padding: 20px;
        max-width: 100%;
        color: #fff;
        font-size: 0.9rem;
        line-height: 1.5em;
        background: #000;
        border-radius: 5px;
    }

    blockquote {
        color: #666;
        border-left: 0.25em solid #dfe2e5;
        padding-left: 1em;
        font-style: italic;
    }

    .yellow_background {
        background-color: rgb(251, 243, 219);
    }

    h1.yellow_background,
    h2.yellow_background,
    h3.yellow_background {
        padding: 10px;
    }
}

footer.site-footer {
    // position: absolute;
    // bottom: 0;
    // width: 100%;
    background: #000;
    font-size: 0.85em;
    color: #cccccc;
    padding: 10px 0 20px;

    .container {
        max-width: 960px;
    }

    .col-md-6 {
        margin-top: 1em;

        // @media (min-width: 1024px) {
        //     margin-top: 0;
        // }
    }

    a {
        color: #fff;

        &:hover {
            opacity: 0.6;
            text-decoration: none;
        }
    }

    .copyright {
        @media (min-width: 576px) {
            text-align: right;
        }
    }
}
