{{ define "body" }}

<div class="content container">

    {{- partial "header.html" . -}}


<main class="post container">

        <article class="{{ if not (.Param "feature_image") }} no-image {{ end }}">

            <header>
                <h1>{{ .Title }}</h1>

                {{ if .Param "summary" }}
                    <p class="summary">{{ .Summary }}</p>
                {{ end }}

                <div class="byline">
                    {{ if .Param "author" }}
                    <span class="author">{{ .Param "author" }}</span> <span class="bull">&bull;</span>
                    {{ end }}
                    {{ with .Params.tags }}
                        {{ $primaryTag := (index . 0) }}
                        <!-- <a href="{{ "/tags/" | relLangURL }}{{ $primaryTag | urlize }}">{{ $primaryTag }}</a> -->
                        <span class="tag">{{ $primaryTag }}</span>
                    {{ end }}
                    <span class="date">
                        <span class="bull">&bull;</span>
                        <time datetime="{{ .Date.Format "2006-31-01" }}">{{ .Date.Format "2 January 2006" }}</time>
                        <span class="bull">&bull;</span>
                        {{ .ReadingTime }} min read
                    </span>
                </div>
            </header>

            <section class="post-full-content">
                {{ .Content }}
            </section>

        </article>
</main>

</div>

{{- partial "footer.html" $ -}}

{{ end }}
