<footer class="site-footer">
    <div class="container mx-auto">
        <div class="row justify-content-center">
            <p>
                <a href="{{ .Site.BaseURL }}">Inicio</a>
            </p>
            </div>
            <!-- <div class="col-md-6">
                <nav class="site-footer-nav">
                    <a href="{{ .Site.BaseURL }}">Inicio</a>
                    {{ range $.Site.Menus.footer }}
                        &bull; <a href="{{ .URL }}">{{- .Name -}}</a>
                    {{ end }}
                    {{ if .Site.Params.facebook }}<a href="{{ .Site.Params.facebook }}" target="_blank" rel="noopener">Facebook</a>{{ end }}
                    {{ if .Site.Params.twitter }}<a href="{{ .Site.Params.twitter }}" target="_blank" rel="noopener">Twitter</a>{{ end }}
                    {{ if .Site.Params.github }}<a href="{{ .Site.Params.github }}" target="_blank" rel="noopener">Github</a>{{ end }}
                </nav>
            </div> -->
            <div class="row justify-content-center">
                <p class="copyright">{{ .Site.Title }} &copy; 2021</p>
            </div>
        <!-- </div> -->
    </div>
</footer>

<script src="/theme/bundle.js"></script>
