<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <nav class="site-footer-nav">
                    <a href="{{ .Site.BaseURL }}">Inicio</a>
                    {{ range $.Site.Menus.footer }}
                        &bull; <a href="{{ .URL }}">{{- .Name -}}</a>
                    {{ end }}
                    {{ if .Site.Params.facebook }}<a href="{{ .Site.Params.facebook }}" target="_blank" rel="noopener">Facebook</a>{{ end }}
                    {{ if .Site.Params.twitter }}<a href="{{ .Site.Params.twitter }}" target="_blank" rel="noopener">Twitter</a>{{ end }}
                    {{ if .Site.Params.github }}<a href="{{ .Site.Params.github }}" target="_blank" rel="noopener">Github</a>{{ end }}
                </nav>
            </div>
            <div class="col-md-6">
                <section class="copyright">{{ .Site.Title }} &copy; {{ .Date.Format "2006" }}</section>
            </div>
        </div>
    </div>
</footer>

<script src="/dist/main.js"></script>
